<nav class="navbar">
  <a class="nav-icon" href="http://localhost:3001/" title="Wellness Tracker" target="_blank">
    <i class="fas fa-droplet"></i>
  </a>
  <a class="nav-icon" href="http://localhost:4000/law/" title="Law Bot">
    <i class="fas fa-scale-balanced"></i>
  </a>
  <a class="nav-icon" href="http://localhost:8001/" title="Her Connect" target="_blank">
    <i class="fas fa-hands-helping"></i>
  </a>
  <a class="nav-icon" href="http://localhost:5176/" title="Therapy Bot" target="_blank">
    <i class="fas fa-robot"></i>
  </a>
  <a class="nav-icon" href="http://localhost:4000/" title="Steganography">
    <i class="fas fa-image"></i>
  </a>
</nav>
